<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>#{get 'title' /}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
		#{stylesheet src:"main.css" /}
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
		#{script src:"jquery-1.7.2.min.js" /}
		#{script src:"jquery.tools-1.2.5.toolbox.expose.min.js" /}
	</head>
	<body>

        <div id="header">
		<div id="logo">
			fotogrub
		</div><!-- logo -->

		<ul id="tools">
			<li>
				<a href="@{UserAdmin.index()}">Log in to write something</a>
			</li>
		</ul>

		<div id="title">
			<span class="about">About this blog</span>
			<h1><a href="@{Application.index()}">${blogTitle}</a></h1>
			<h2>${blogBaseline}</h2>
		</div><!-- title -->

		<div id="subheader">
			<p align="center">Select a restaurant to find in: New York | San Fran | Chicago | Seattle | Dallas | LA | Boston | Washington</p>
		</div><!-- subheader -->
	</div><!-- header -->



        <div id="main">
            #{doLayout /}
        </div>

        <div id="sidebar">
            <h1>Reviews</h1>
            <p>Display photo of the day</p>
            <p>Followed friends list</p>
        </div>

        <p id="footer">
            <a href="http://www.playframework.org">play framework</a>

        </p>

    </body>
</html>
